extends layout

block content
    .row.page-header
        .col-lg-12
            h1 Movie Watchlist
            h3 To add a new movie, please enter your data below:

    .row
        .col-xs-12.col-md-6
            form.form-horizontal(action="", method="post", role="form")
                .form-group
                    label.col-sm-2.control-label(for="Username") Username
                    .col-sm-10
                        input#username.form-control(name="Username")
                .form-group
                    label.col-sm-2.control-label(for="Password") Password
                    .col-sm-10
                        input#password.form-control(name="Password")
                .form-group
                    label.col-sm-2.control-label(for="Titles") Titles
                    .col-sm-10
                        input#titles.form-control(name="Titles")
                button.btn.btn-default.pull-right Add