doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/topo.bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      .navbar.navbar-default.navbar-fixed-top
        .container
          .navbar-header
            a.navbar-brand Site Navigation
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
              span.icon-bar
              span.icon-bar
              span.icon-bar
          #navbar-main.navbar-collapse.collapse
            ul.nav.navbar-nav
              li
                a(href='/login/') Movie Watchlist Login Page
              li
                a(href='/listMovies/') Movie List Page
              li
                a(href='/editMovies/') Movie Edit Page
              li
                a(href='/addMovies/') Add Movie Page
    block content
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
      script(src='/bootstrap/js/bootstrap.js')