extends layout

block content
    body
        .navbar.navbar-default.navbar-fixed-top
            .container
                .navbar-header
                    a.navbar-brand(href='/') Site Navigation
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                #navbar-main.navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li
                            a(href='/listMovies/') List Your Movies
                        li
                            a(href='/editMovies/') Edit Your Movies
    .row.page-header
        .col-lg-12
            h1 Movie Watchlist Authentication Page
            h3 Hello, please enter username and password to login:
    .row
        .col-xs-12.col-md-6
            .form-group
                label.col-xs-10.col-sm-2.control-label(for="username") Username:
                    input#username.form-control(username="username")
                    | <br /><br/>
                 label.col-xs-10.col-sm-2.control-label(for="password") Password:
                    input#password.form-control(password="password")
            | <br /><br />
            a(href='/listMovies'): button.btn.btn-default.pull-right(type="button") Submit
            | <br /><br />
        .col-xs-12.col-md-4