extends layout

block content
    body
        .navbar.navbar-default.navbar-fixed-top
            .container
                .navbar-header
                    a.navbar-brand Site Navigation
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                #navbar-main.navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li
                            a(href='/login/') Login Page
    .row.page-header
        .col-lg-12
            h1 Movie Watchlist Authentication Page
            h3 Hello, please enter username and password to login:

    .row
        .col-xs-12.col-md-6
            form.form-horizontal(action="", method="post", role="form")
                .form-group
                    label.col-sm-2.control-label(for="Username") Username
                    .col-sm-10
                        input#Username.form-control(name="Username")
                .form-group
                    label.col-sm-2.control-label(for="Password") Password
                    .col-sm-10
                        input#Password.form-control(name="Password")
                button.btn.btn-default.pull-right Submit